.profile-1 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 500px;
    left: 370px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-2 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 540px;
    left: 670px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-3 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 500px;
    left: 970px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-4 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 540px;
    left: 1270px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-5 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 860px;
    left: 370px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-6 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 900px;
    left: 670px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-7 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 860px;
    left: 970px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-8 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 900px;
    left: 1270px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-9 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1220px;
    left: 370px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-10 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1260px;
    left: 670px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-11 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1220px;
    left: 970px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-12 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1260px;
    left: 1270px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-13 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1580px;
    left: 370px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-14 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1620px;
    left: 670px;
    border-radius: 4px;
    border: 1px solid #008156;
  }

  .profile-15 {
    position: absolute;
    box-shadow: 5px 5px 5px 5px #00000010;
    width: 280px;
    height: 340px;
    top: 1580px;
    left: 970px;
    border-radius: 4px;
    border: 1px solid #008156;
  }